package main

import (
	"github.com/aws/aws-lambda-go/lambda"
    {{.Imports}}
)

func {{.OperationName}}{{.TypeName}}Handler({{.Parameters}}) {{.ReturnValues}} {{.Body}}


func main() {
	lambda.Start({{.OperationName}}{{.TypeName}}Handler)
}
