package main

import (
	"github.com/aws/aws-lambda-go/lambda"
	lib "github.com/Astenna/Nubes/lib"
    {{.Imports}}
)

func Get{{.TypeName}}Handler(id string) ({{.TypeName}}, error) {
    output, err := lib.Get[{{.TypeName}}](id)

    if err != nil {
        return output, errors.New("failed to get {{.TypeName}}")
    }
    return output, nil
}

func main() {
	lambda.Start(Get{{.TypeName}}Handler)
}
