package {{.PackageName}}

import (
	"github.com/aws/aws-sdk-go/service/lambda"
	"github.com/aws/aws-sdk-go/aws/session"
)

{{range .CustomCtors}} 
func New{{.TypeName}}({{if .OptionalParamType}}input {{.OptionalParamType}}{{if .IsOptionalParamNobject}}Stub{{end}}{{end}}) (*{{.TypeName}}Stub,error) {
	{{if .OptionalParamType}}jsonParam, err := json.Marshal(input)
	if err != nil {
		return nil, err
	}{{end}}

	out, _err := LambdaClient.Invoke(&lambda.InvokeInput{FunctionName: aws.String("New{{.TypeName}}"){{if .OptionalParamType}}, Payload: jsonParam{{end}}})
	if _err != nil {
		return nil, _err
	}
	if out.FunctionError != nil {
		return nil, fmt.Errorf("lambda function invocation failed. Error: %s", string(out.Payload))
	}

	result := new({{.TypeName}}Stub)
	_err = json.Unmarshal(out.Payload, result)
	if _err != nil {
		return nil, _err
	}
	
	return result, nil
}
{{end}}