package main

import (
	{{if eq false .Stateless}} 
	lib "github.com/Astenna/Thesis_PoC/faas_lib" 
	{{end}}
	"github.com/aws/aws-lambda-go/lambda"
	{{.Imports}}
)

{{.Signature}} {
	{{.Prolog}}
	{{.ReturnFromInvocation}}{{.Invocation}}
	{{.Epilog}}

	return {{.ReturnValues}}
}

func main() {
	lambda.Start({{.HandlerName}})
}
