frameworkVersion: '>3.24.0'

service: {{.ServiceName}}
provider:
  name: aws
  runtime: go1.x
  # Default memory size for functions (default: 1024MB)
  memorySize: 1024
  # Default timeout for functions (default: 6 seconds)
  # Note: API Gateway has a maximum timeout of 30 seconds
  #timeout: 60
  # Use function versioning (enabled by default)
  versionFunctions: false
  # By default, one IAM Role is shared by all the Lambda functions in your service
  iamRoleStatements:
    - Effect: Allow
      Action:
        - "dynamodb:*"
      Resource:
        - "*"

package:
  individually: true
  exclude:
    - "bin/*"
    - "**/**"

functions:
  Load:
    name: Load
    handler: bin/Load
    package:
      include:
        - bin/Load
    maximumRetryAttempts: 0
    maximumEventAge: 60
  Export:
    name: Export
    handler: bin/Export
    package:
      include:
        - bin/Export
    maximumRetryAttempts: 0
    maximumEventAge: 60
  GetField:
    name: GetField
    handler: bin/GetField
    package:
      include:
        - bin/GetField
    maximumRetryAttempts: 0
    maximumEventAge: 60
  SetField:
    name: SetField
    handler: bin/SetField
    package:
      include:
        - bin/SetField
    maximumRetryAttempts: 0
    maximumEventAge: 60
{{range .StateFuncs}}
  {{.ReceiverType}}{{.MethodName}}:
    name:  {{.ReceiverType}}{{.MethodName}}
    handler: bin/{{.ReceiverType}}{{.MethodName}}
    package:
      include:
        - bin/{{.ReceiverType}}{{.MethodName}}
    maximumRetryAttempts: 0
    maximumEventAge: 60
{{end}}