package main

import (
	"github.com/aws/aws-lambda-go/lambda"
	{{.OrginalPackageAlias}} "{{.OrginalPackage}}"
	{{.Imports}}
)

func {{.MethodName}}Handler(input lib.HandlerParameters) {{if .OptionalReturnType}} ({{.OptionalReturnType}}, error) {{else}} error {{end}} {
	instance := new({{.OrginalPackageAlias}}.{{.ReceiverType}})
	instance.{{.ReceiverIdFieldName}} = input.Id 

	{{if .OptionalReturnType}} result, {{end}}_err := instance.{{.Invocation}} 
	if _err != nil {
		return {{if .OptionalReturnType}} result, {{end}} _err
	}
	
	return {{if .OptionalReturnType}} result, {{end}} _err
}

func main() {
	lambda.Start({{.MethodName}}Handler)
}
