package main

import (
	lib "github.com/Astenna/Nubes/lib"
	"github.com/aws/aws-lambda-go/lambda"
)

func AddToManyToManyHandler(input lib.AddToManyToManyParam) error {

	if err := input.Verify(); err != nil {
		return err
	}
	ref := lib.NewReferenceNavigationListHandlers(input.RefNavListParam)
	return ref.AddToManyToMany(input.NewId)
}

func main() {
	lambda.Start(AddToManyToManyHandler)
}
