package main

import (
	lib "github.com/Astenna/Nubes/lib"
	"github.com/aws/aws-lambda-go/lambda"
)

func DeleteFromManyToManyHandler(input lib.DeleteFromManyToManyParam) error {

	if err := input.Verify(); err != nil {
		return err
	}
	ref := lib.NewReferenceNavigationListHandlers(input.RefNavListParam)
	return ref.DeleteBatchFromManyToMany(input.IdsToDelete)
}

func main() {
	lambda.Start(DeleteFromManyToManyHandler)
}
