package main

import (
	lib "github.com/Astenna/Nubes/lib"
	"github.com/aws/aws-lambda-go/lambda"
)

func GetBatchHandler(input lib.GetBatchParam) (interface{}, error) {
	return lib.GetStubsInBatchWithTypeNameAsArg(input)
}

func main() {
	lambda.Start(GetBatchHandler)
}
