package main

import (
	"fmt"

	"github.com/Astenna/Nubes/lib"
	"github.com/aws/aws-lambda-go/lambda"
)

func LoadHandler(input lib.LoadBatchParam) error {
	err := lib.AreInstancesAlreadyCreated(input)

	if err != nil {
		if notFound, casted := err.(lib.NotFoundError); casted {
			return notFound
		}
		return fmt.Errorf("error occurred while checking %v for loading. Error %w", input, err)
	}

	return nil
}

func main() {
	lambda.Start(LoadHandler)
}
