package main

import (
	"github.com/aws/aws-lambda-go/lambda"
	{{.OrginalPackageAlias}} "{{.OrginalPackage}}"
	{{.Imports}}
	"github.com/mitchellh/mapstructure"
)

func {{.MethodName}}Handler(input aws.JSONValue) {{if .OptionalReturnType}} ({{.OptionalReturnType}}, error) {{else}} error {{end}} {
	instance := new({{.OrginalPackageAlias}}.{{.ReceiverType}})
	instance.{{.ReceiverIdFieldName}} = input["Id"].(string) 
	instance.Init()

	{{if .OptionalInputType}} 
	var param {{.OptionalInputType}}
	mapstructure.Decode(input["Parameter"], &param) {{end}}
	{{if .OptionalReturnType}} result, {{end}} _err := instance.{{.MethodName}}({{if .OptionalInputType}}param{{end}}) 
	return {{if .OptionalReturnType}} result, {{end}} _err
}

func main() {
	lambda.Start({{.MethodName}}Handler)
}
