package {{.PackageName}}

import lib "github.com/Astenna/Nubes/lib"

{{range .Types}}
{{if .NobjectImplementation}}
type {{.TypeNameUpper}}Stub struct {
    {{range .FieldDefinitions}}
    {{if .IsReference}} {{.FieldNameUpper}} lib.ClientReference[{{.FieldTypeUpper}}Stub]
    {{else}} {{.FieldNameUpper}} {{.FieldType}} {{end}} {{.Tags}}
    {{end}}
}

func ({{.TypeNameUpper}}Stub)GetTypeName() string {{.NobjectImplementation}} 

{{if .CustomIdImplementation}}
func ({{.CustomIdReceiverName}} {{.TypeNameUpper}}Stub)GetId() string {{.CustomIdImplementation}}
 {{else}}
func (s {{.TypeNameUpper}}Stub)GetId() string {
return s.Id
} {{end}}

{{end}} 
{{end}}
