package {{.PackageName}}

import lib "github.com/Astenna/Nubes/lib"

{{range .Types}}
{{if .NobjectImplementation}}
type {{.TypeNameOrginalCase}}Stub struct {
    {{range .FieldDefinitions}}
    {{if .IsReference}} {{.FieldNameUpper}} Reference[{{.FieldTypeUpper}}Stub] {{.Tags}}
    {{else if .IsReferenceList}} {{.FieldNameUpper}} ReferenceList[{{.FieldTypeUpper}}Stub] {{.Tags}}
    {{else}} {{.FieldNameUpper}} {{.FieldType}} {{.Tags}} {{end}} 
    {{end}}
}

func ({{.TypeNameOrginalCase}}Stub)GetTypeName() string {{.NobjectImplementation}} 
{{end}} 
{{end}}
