package main

import (
    "errors"
	"github.com/aws/aws-lambda-go/lambda"
	lib "github.com/Astenna/Nubes/lib"
    {{.TypesPackageAlias}} "{{.TypesPackagePath}}"
)

func Create{{.TypeName}}Handler(toBeCreated {{.TypesPackageAlias}}.{{.TypeName}}) (string, error) {
    id, err := lib.Insert(toBeCreated)

    if err != nil {
        return "", errors.New("failed to create new instance of {{.TypeName}}")
    }
    return id, nil
}

func main() {
	lambda.Start(Create{{.TypeName}}Handler)
}
