package main

import (
	"github.com/aws/aws-lambda-go/lambda"
	{{.OrginalPackageAlias}} "{{.OrginalPackage}}"
	{{.Imports}}
)

{{.Signature}} {
	{{if eq true .Stateless}} 
	{{.OwnerVariableName}} := new({{.OrginalPackageAlias}}.{{.OwnerType}}) 
	{{else}} 
	{{.OwnerVariableName}}, err := lib.Get[{{.OrginalPackageAlias}}.{{.OwnerType}}](input.Id)
	if err != nil {
		return {{if .OptionalReturnVar}} *new({{.OptionalReturnType}}), {{end}} err
	}
	{{end}}

	{{.ReturnFromInvocation}}{{.Invocation}}
	if _err != nil {
		return {{if .OptionalReturnVar}} result, {{end}} _err
	}

	{{if eq false .Stateless}}
	_, _err = lib.Insert({{.OwnerVariableName}})
	{{end}}
	return {{if .OptionalReturnVar}} {{.OptionalReturnVar}}, {{end}} _err
}

func main() {
	lambda.Start({{.HandlerName}})
}
